section.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&.demo {
		background-image: url(../images/trees.jpg);
	}

	&.full-screen {
		height: 100vh;
	}
}